* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(218, 98, 30);
    color: #43abc9;
    font-family: "luckiest guy", sans-serif;
    letter-spacing: 3px;
}
.title1 {
text-align: center;
max-width: 100%;
}
.title1 a {
font-size: 60px;
text-shadow: 3px 3px 0 #3a3a3a;
cursor: pointer;
text-decoration: none;
color: #43abc9;
text-align: center;
}
.title1 a:hover {
    font-size: 70px;
    color: #3a3a3a;
    text-shadow: 3px 3px 0 #43abc9;
    text-align: center;
}

.title2 {
    font-size:40px;
    text-shadow: 3px 3px 0 #3a3a3a;
    text-align: center;
    margin-bottom: 20px;
}

.info {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.mainpage-box {
    width:800px;
    height: auto;
    background-color: white;
    border: 3px solid #43abc9;
    padding: 10px;
    margin:auto;
    text-shadow: 1px 1px 0 #3a3a3a;
}

.buttoneasy {
    display: block;
    height:20%;
    width:40%;
    background-color: #43abc9;
    color: white;
    margin: auto;
    font-family: "luckiest guy", sans-serif;
    font-size:30px;
    margin-bottom: 40px;
    margin-top: 50px;
    text-decoration: none;
    border: 3px solid #3a3a3a;
    padding: 30px 0;
}
.buttoneasy span {
    display:flex;
    justify-content: center;
    align-items: center;
}
.buttoneasy:hover{
    background-color: white ;
    color: #43abc9;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}  
.buttoneasy:hover span{
    display: none;
    
}
.buttoneasy:hover::before{
    content: "Easy Peasy!";
}

.buttonhard {
    display: block;
    height:20%;
    width:40%;
    background-color: #43abc9;
    color: white;
    margin: auto;
    font-family: "luckiest guy", sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
    border: 3px solid #3a3a3a;
    text-decoration: none;
    word-spacing: 2px;
    padding: 30px 0;
}

.buttonhard span {
    display:flex;
    justify-content: center;
    align-items: center;
}
    
.buttonhard:hover{
    background-color: white ;
    color: #43abc9;
    cursor: pointer;
    font-size: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
 }  
.buttonhard:hover span{
    display: none;
}
.buttonhard:hover::before{
    content: "Hard!? You Sure?";
}
    
.easymodebox {
    width: 850px;
    height: 700px;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    border: 3px solid #43abc9;
    perspective: 1000px;
}

.easymodecard {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.easymodecard:active {
transform: scale(0.90);
transition: transform .2s;
}

.easymodecard:hover {
    cursor: pointer;

}

.easymodecard.flip {
    transform: rotateY(180deg);
}

.easyfront,
.easyback {
    width:100%;
    height:100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #43abc9;
    backface-visibility: hidden;
}

.easyfront {
    transform: rotateY(180deg);
}

.score {
    text-align: center;
    background: white;
    border: 3px solid #43abc9;
    width: 500px;
    height: 130px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 1px 1px 0 #3a3a3a;
}
.score span {
    color: rgb(218, 98, 30);
    font-size: 40px;
    text-shadow: 2px 2px 0 #3a3a3a;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 450px) {
.mainpage-box {
        width:380px;
        font-size: 20px;
 }
 .title1 {
    margin-top: 20px;
 }
 .info {
    font-size: 20px;
 }
 .buttoneasy {
    font-size: 20px;
 }
 .buttonhard {
    font-size:20px;
 }
.easymodebox {
        width: 380px;
        height: 350px;
        margin-left:auto;
        margin-right: auto;
        display:flex;
        flex-wrap: wrap;  
}
.score {
    width: 300px;
    height: 130px;
    font-size: 20px;
}
}